.container-404 {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/e7/1b/1c/e71b1c46809e1bbf63f5fec0fb5314db.gif);
  height: 400px;
  width: 600px;
  margin: 5px auto;
  background-position: center;
}
